.display{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    gap: 2rem;
    padding: 1rem;
    max-height: 60vh;
    width: 100%;
    overflow: scroll;
    &::-webkit-scrollbar {
        display: none;
      }
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}