@use 'partials/buttons' as *;

#screen{
    position: fixed;
    background-color: var(--main-yellow);
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.display{
    .inside{
        height: 75vh;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.dialog{
    position: fixed;
    bottom: 0;
    left: 0;
    max-width: 90%;
    min-width: 80%;
    max-height: 20vh;
    background-color: var(--background-yellow);
    padding: 2rem;
    border-radius: 10px;
    margin: 10px;
    border: solid 2px var(--background-black);
    color: var(--background-black);
        button{
            @include button;
            position: absolute;
            right: 10px;
            bottom: 10px;
        }
}
.person{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .img{
        background-color: rgb(102, 102, 102);
        max-width: 100%;
        height: auto;
    }
}

@media (max-width:1300px) {
    #screen{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
    }
    .person{
        grid-row: 2;
        .img{
          max-width: 300px;
        }
    }
}