:root{
  --main-yellow: #FFDF6F;
  --background-yellow: #F5F2E8;
  --background-black: #42413F;
}
html,
body,
button {
  padding: 0;
  margin: 0;
  font-family: Century, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
