@use 'partials/buttons' as *;
.person{
    border: 3px solid var(--background-black);
    &:hover{
        cursor: pointer;
        transform: translateY(5px);
    }
}
.display{
    position: absolute;
    bottom: 0;
    width: auto;
    height: 100vh;
    left: -800px;
    // transform: translateX(-50%);
    z-index: 5;
    overflow: hidden;
}
.buttons{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    z-index: 6;
    button{
        width: 50%;
        @include button;
        &:disabled{
            background-color: gray;
        }
    }
}