@use 'partials/layout' as layout;
@use 'partials/buttons' as buttons;

:root{
  --main-yellow: #dfc79e;
  --background-yellow: #F5F2E8;
  --background-black: #32281e;
  --padding-top:0.5rem;
  --padding-side:1.2rem;
}
html,
body,
button {
  padding: 0;
  margin: 0;
  font-family: Century, Helvetica Neue, sans-serif;
//   &::-webkit-scrollbar {
//     display: none;
//   }
//   -ms-overflow-style: none;  /* IE and Edge */
// scrollbar-width: none;
}
body{
background-color: var(--background-yellow);
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


#settings{
  @include layout.popUp;
  background-color: var(--background-black);
  color: var(--background-yellow);
  z-index: 11;
}
.closeButton{
  position: absolute;
  left: 1%;
  top: 1%;
  @include buttons.button;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  padding: 0;
  z-index: 11;
}
.badges{
  background-color: var(--background-black);
  color: var(--background-yellow);
  width: fit-content;
  border-radius: 0px 10px 0 0;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
}
#badges{
  display: none;
  transition: all 0.3s ease;
}
.loading{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}
#dot1{
  display: inline-block;
  animation: dot 1s ease 0s infinite;
  background-color: var(--background-black);
  border-radius: 50%;
  height: 16px;
  width: 16px;
}
#dot2{
  display: inline-block;
  animation: dot 1s ease 0.2s infinite;
  background-color: var(--background-black);
  border-radius: 50%;
  height: 16px;
  width: 16px;
}
#dot3{
  display: inline-block;
  transform: translateY(0);
  animation: dot 1s ease 0.5s infinite;
  background-color: var(--background-black);
  border-radius: 50%;
  height: 16px;
  width: 16px;
}
.svglink{
  transition: all 0.3s ease;
  &:hover{
    cursor: pointer;
    fill: var(--background-black);
  }
}
@keyframes dot {
  0%{
    transform: translateY(0);
    background-color: var(--background-black);
  }
  25%{
    transform: translateY(-15px);
    background-color: var(--main-yellow);
  }
  
  75%{
    transform: translateY(15px);
    background-color: var(--background-yellow);
  }
  100%{
    transform: translateY(0);
    background-color: var(--background-black);
  }
}