@use 'partials/buttons' as buttons;
@use 'partials/layout' as layout;

.person{
    border: 3px solid var(--background-black);
    &:hover{
        cursor: pointer;
        transform: translateY(5px);
    }
}
.display{
    position: absolute;
    bottom: 0;
    width: auto;
    height: 100vh;
    left: 0px;
    // transform: translateX(-50%);
    z-index: 5;
    overflow: hidden;
}
.buttons{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    z-index: 6;
    button{
        width: 50%;
        @include buttons.button;
        &:disabled{
            background-color: gray;
        }
    }
}
.selection{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    max-width: 1500px;
}
.select{
    max-width: 500px;
    position: relative;
    button{
        font-size: 1.5rem;
        width: 100%;
        background-color: var(--background-yellow);
        border: 2px solid var(--background-black);
        padding: 0.4rem 0.7rem;
        border-radius: 3px;
        transition: all 0.1s ease;
        display: flex;
        justify-content: space-between;
        text-align: left;
        &:focus{
            background-color: var(--main-yellow);
        }
        &:hover{
            background-color: var(--main-yellow);
            cursor: pointer;
        }
    }
    
}
.selectBox{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 11;
    max-width: 480px;
    max-height: 400px;
    overflow-y: auto;
    width: 100%;
    background-color: var(--background-black);
    button{
        width: 100%;
    }
}
.new{
    transition: all 0.3s ease;
    &:hover{
        transform: translateY(-10%);
    }
}
.archiveSVG{
    width: 100%;
    max-width: 500px;
    margin: auto;
    z-index: 11;
    svg{
    transition: all 0.3s ease;
    max-width: 100%;
        height: auto;
    }
}
.tapa{
    cursor: pointer;
    
}
.newPopUp{
    @include layout.popUp;
    z-index: 22;
    width: 50vw;
    min-width: 300px;
    display: block;
    padding: 1rem;
    background-color: var(--background-yellow);
    a{
        background-color: var(--background-black);
        border-radius: 5px;
        color: var(--background-yellow);
        padding: 0.5rem 1rem;
        text-decoration: underline;
        &:hover{
        color: var(--main-yellow);
        }
      }
}