@use 'partials/buttons' as buttons;
@use 'partials/layout' as layout;

#sideMenu{
    @include layout.columnFlex;
    padding: var(--padding-side);

    button{
        margin: var(--padding-top);
        @include buttons.button;
    }
}
#settings{
    padding: var(--padding-side);
}
#icon{
    position: fixed;
    top: 1%;
    left: 5%;
    width: 30px;
    height: 30px;
    z-index: 22;
    background-color: transparent;
    border: none;
    cursor: pointer;
}